language: node_js
git:
  depth: 1
node_js: lts/*
cache: yarn
install:
  - yarn global add ganache-cli
  - yarn
before_script:
  - ganache-cli --accounts 500 >ganache.log 2>&1 &
  - sleep 5
script:
  - yarn lint
  - yarn test
  - yarn coverage && cat coverage/lcov.info | coveralls
notifications:
  email:
    - dev-notifications@noblockno.party
