.container {
  color: red;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
}

@media screen and (min-width:500px){
  .container {
    flex-direction: row;
  }
}
